<div class="page-header">
  <h1>Institutions</h1>
</div>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @institutions.each do |institution| %>
      <tr id="<%= institution.id %>">
        <td><%= link_to_if policy(institution).show?, institution.name, institution, class: "block-link" %></td>
        <td><%= edit_link institution %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= create_link(Institution) %>
