<h1>Listing description_objects</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @description_objects.each do |description_object| %>
      <tr>
        <td><%= link_to 'Show', description_object %></td>
        <td><%= link_to 'Edit', edit_description_object_path(description_object) %></td>
        <td><%= link_to 'Destroy', description_object, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Description object', new_description_object_path %>
