<p>
  <strong>Title:</strong>
  <%= @description_object.title %>
</p>

<p>
  <strong>DPN Status:</strong>
  <%= format_boolean_as_yes_no(@description_object.dpn_status) %>
</p>

<%= edit_link(@description_object) %>
