<footer class="footer">
  <div class="container">

    <small>
      <p>&copy; 2013 Academic Preservation Trust</p>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", "http://aptrust.org/about", {target: "_blank"} %></li>
        <li><%= link_to "Contact", "http://aptrust.org/contact", {target: "_blank"} %></li>
        <li><%= mail_to "help@aptrust.org", "help@aptrust.org",  subject: "Admin Interface Help Request" %></li>
      </ul>
    </nav>
  </div>

  <% if not Rails.env.production? %>
      <div class="container">
        <em><%= display_version %></em>
      </div>
  <% end %>
</footer>