<div id="header-navbar-fixed-top" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="row">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <div class="span3">
          <%= link_to application_name, root_path, :class => "brand" %>
        </div>
        
        <div class="span6 clearfix" id="searchbar">
          <% if user_signed_in? %>         
            <%= render_search_bar %>
          <% end %>
        </div>

        <div class="span3 nav-collapse">
          <% if user_signed_in? %>
            <%= render partial: '/user_util_links' %>
          <% else %>
            <%= render partial: '/user_sign_in_links' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
