<div class="dropdown pull-right">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Mark ...
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation">
      <%= link_to raw("Selected as Reviewed/Resolve"),
                  '#',
                  {tabindex: -1, role: "menuitem", onclick: "callHandleSelected()"} %>
    </li>
    <li role="presentation">
      <%= button_to raw("All as Reviewed/Resolve"),
                    {:controller => "processed_item", :action => "review_all"},
                    :data => {confirm: "Are you sure you want to mark all items as reviewed?"}  %>
    </li>
  </ul>
</div>