<div id="sidebar" class="col-md-3">
  <%= render 'search_facets' %>
</div>

<div id="content" class="col-md-9">

  <section>
    <%= render 'review_items' %>
  </section>

  <section class="page-header">
    <h2>Search Results</h2>
    <p>Searching for: <%= params[:qq] %></p>
  </section>

  <section id="itemTable" class="queue">
    <%= render 'item_table' %>
  </section>
</div>

