<p class="moving">
    As of January 17, 2017, you'll find APTrust's production repository at <a href="https://repo.aptrust.org">https://repo.aptrust.org</a>,
    and our demo repository at <a href="https://demo.aptrust.org">https://demo.aptrust.org</a>.
    <br><br>
    These servers are now running APTrust 2.0. For more information about what's new in 2.0, see <a href="https://sites.google.com/a/aptrust.org/member-wiki/recent-changes">https://sites.google.com/a/aptrust.org/member-wiki/recent-changes</a>
    <br><br>
    If you have questions, please contact us at <a href="mailto:help@aptrust.org">help@aptrust.org</a>.
</p>