/* FOOTER */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top:  1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover {
      color:  #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

@mixin fix-title {
  text-indent: 40px;
  width: auto;
}

#header-navbar .navbar-brand {@include fix-title;}

/* MISC */
.gravatar {
  float: left;
  margin-right: 10px;
}

a.block-link {
  display: block;
}

.search-scope {
  margin-right: 0.5em;
}

form a {
  padding-left: 10px;
}

.alert, .help-inline {
  color: #FF0000;
}

form .alert {
  padding: 0px;
}

.help-inline {
  padding-left: 15px;
}

.auditinfo h3 { font-weight: bold; }

.search_tabs {
  text-align: center;
  list-style: none;
  margin: 10px 0 10px;
  padding: 0;
  line-height: 22px;
  height: 25px;
  overflow: hidden;
  font-size: 12px;
  font-family: arial;
  position: relative;
  width: 510px;
}

.search_tabs li {
  border: 1px solid #AAA;
  background: #D1D1D1;
  background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  display: inline-block;
  position:relative;
  z-index: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
  text-shadow: 0 1px #FFF;
  margin: 0 -5px;
  padding: 0 30px;
}

.search_tabs a {
  color: #555;
  text-decoration: none;
}

.search_tabs li.ui-tabs-active {
  background: #FFF;
  color: #333;
  z-index: 2;
  border-top-color: #FFF;
}

.search_tabs:before {
  position: absolute;
  content: " ";
  width: 100%;
  top: 0;
  left: 0;
  border-top: 1px solid #AAA;
  z-index: 1;
}

.search_tabs li:before,
.search_tabs li:after {
  border: 1px solid #AAA;
  position: absolute;
  top: -1px;
  width: 6px;
  height: 6px;
  content: " ";
}

.search_tabs li:before  {
  left: -7px;
  border-top-right-radius: 6px;
  border-width: 1px 1px 0px 0px;
  box-shadow: 2px 0px 0 #ECECEC;
}

.search_tabs li:after {
  right: -7px;
  border-top-left-radius: 6px;
  border-width: 1px 0px 0px 1px;
  box-shadow: -2px 0px 0 #ECECEC;
}

.search_tabs li.ui-tabs-active:before {
  box-shadow: 2px 0px 0 #FFF;
}

.search_tabs li.ui-tabs-active:after {
  box-shadow: -2px 0px 0 #FFF;
}

input#q, input#qq {
  width: 260px;
}

#pi_search {

}

#chart-frame {
  box-sizing: border-box;
  width: 850px;
  height: 450px;
  padding: 20px 15px 15px 15px;
  margin: 15px auto 30px auto;
  border: 1px solid #ddd;
  background: #fff;
  background: linear-gradient(#f6f6f6 0, #fff 50px);
  background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);

  #chart {
    width: 800px;
    height: 400px;
    font-size: 14px;
    line-height: 1.2em;
  }
}

#sidebar .doc-action-btn,
#main-container .doc-action-btn,
#content .doc-action-btn {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  /*background-image: linear-gradient;*/
  background-repeat: repeat-x;
  border-color: #CCCCCC #CCCCCC #B3B3B3;
  border-image: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  padding: 4px 12px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
}

#sidebar .btn-danger,
#main-container .btn-danger,
#content .btn-danger{
  background-image: linear-gradient(to bottom, #AE423F, #DD6461);
  color: #FFFFFF;
}

#sidebar .btn-normal,
#main-container .btn-normal,
#content .btn-normal{
  background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
  color: #428bca;
}

#sidebar .btn-success,
#main-container .btn-success,
#content .btn-success{
  background-image: linear-gradient(to bottom, #4A934A, #8DCD8D);
  color: #FFFFFF;
}

#sidebar .btn-cancel,
#main-container .btn-cancel,
#content .btn-cancel{
  background-image: linear-gradient(to bottom, #D89C46, #F3BD71);
  color: #FFFFFF;
}

.btn:hover,
.btn:focus {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}
.btn:hover,
.btn:focus {
  background-color: #e6e6e6;
}
.btn:active,
.btn.active,
.btn.active:hover {
  background-color: #f2f2f2;
  border-color: #e6e6e6;
}
.btn.disabled:hover,
.btn.disabled:focus,
.btn.disabled:active,
.btn.disabled.active,
.btn[disabled] .btn:hover,
.btn[disabled] .btn:focus,
.btne[disabled] .btn:active,
.btn[disabled] .btn.active {
  background-color: #ffffff;
  border-color: #ffffff;
}





