$logo_image: '';
$apt_red: #800000;
$apt_black: #180000;

@import 'bootstrap';
@import 'blacklight/blacklight';

#header-navbar .navbar-brand {
  width: auto;
  font-size: 2em;
  font-weight: bold;
  color: $apt_black;
  text-indent: 0;
  padding: 0;
  height: 75px;
}

#search-navbar {
  margin-left: 25px;
}

@media (min-width: 768px) and (max-width: 979px) {
  .logo-text {
    width: auto;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .logo-text {
    width: auto;
  }
}

#q { width: auto; }

#sortAndPerPage {
  border-top: 1px solid #DDDDDD;
  margin-top: 1em;
  padding-top: 1em;
}

.glyphicon {
  font-family: 'Glyphicons Halflings';   /* to enable glyphicon */
  padding-right: 0.25em;
}

.search-scope .label-text {
  font-weight: normal;
}

.top-content-title { font-weight: bold; }
.panel-heading h4 { font-weight: bold; }
.index_title a { font-weight: bold; }
.page-header h1 { font-weight: bold; }

