// Place all the styles related to the generic_files controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.auditinfo {
  table {
    width: 1000px;
  }

  table, th, td {
    border: 1px solid #eee;
  }

  th, td {
    padding: 0.5em;
  }
}
