// Place all the styles related to the generic_files controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.auditinfo {
  table {
    width: 1000px;
  }

  table, th, td {
    border: 1px solid #eee;
  }

  th, td {
    padding: 0.5em;
  }

  .time {
    column-width: 100px;
    -moz-column-width:100px; /* Firefox */
    -webkit-column-width:100px; /* Safari and Chrome */
  }

  .type {
    column-width: 100px;
    -moz-column-width:100px; /* Firefox */
    -webkit-column-width:100px; /* Safari and Chrome */
  }

  .outcome {
    column-width: 800px;
    -moz-column-width:800px; /* Firefox */
    -webkit-column-width:800px; /* Safari and Chrome */
  }
}
