// Place all the styles related to the generic_files controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.auditinfo {
  table {
    width: 1200px;
  }

  table, th, td {
    border: 1px solid #eee;
  }

  th, td {
    padding: 0.5em;
  }

  th {
    text-align:center
  }

  .time, .type {
    text-align:center
  }

  .outcome {
    column-width: 800px;
    -moz-column-width:800px; /* Firefox */
    -webkit-column-width:800px; /* Safari and Chrome */
    word-wrap: break-word;
  }
}
