// Place all the styles related to the ProcessedItem controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
tr.Failed { background-color: #f2dede; }
tr.Succeeded { background-color: #dff0d8; }
td.Processing { text-style: italic; }