// Place all the styles related to the ProcessedItem controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.paging span {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

tr.Failed { background-color: #f2dede; }
tr.Success { background-color: #dff0d8; }
td.Started, td.Cancelled, td.Pending { text-style: italic; }

#remove {
  display: block;
  float: none;
}

ul {
  list-style-type: none;
  padding: 5px;
}

.page-header {
  width: 110%;
}

ul li input {
  border: 0px;
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 61px;
}

ul.dropdown-menu input:hover {
  background-color: #F5F5F5;
  padding-right: 61px;
}



